* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Open Sans";
  box-sizing: border-box;
}

/* todo útfæra útlit */

body{
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1200px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
}

.application__row {
  display: flex;
  margin-bottom: 1em;
}

label {
  width: 10%;
}

.text {
  flex-grow: 1;
  margin-right: 10%;
  border-radius: 5px;
  border-width: 1.2px;
  border-color: #888;
}

.error {
  background-color: #fbb;
  border-color: #855;
}

.button__label > * {
  padding-left: 1em;
}

.radio__row {
  margin-bottom: 1em;
}

.radio {
  margin-right: 0.5em;
  size: 2px;
}

.btn {
  background-color: #bbb;
  border-width: 1.2px;
  border-color: #888;
  border-radius: 5px;
  height: 3em;
  width: 10em;
}

.btn:hover {
  transition: ease-in 300ms;
  background-color: #bbb;
}

.btn {
  background-color: #fff;
  border-width: 1.2px;
  border-color: #888;
  border-radius: 5px;
  height: 3em;
  width: 10em;
  transition: 300ms ease-in;
  font-size: 1em;
}

.btn:hover {
  background-color: #bbb;
}

label {
  font-size: 1.375em;
}

p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.application__buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.delete {
  margin-left: auto;
}

@media(max-width: 700px) {
  .application__row {
    flex-direction: column;
  }
}